<%include file="/snippets/head.html" />

<%include file="/snippets/header.html" />

<%include file="/snippets/hero.html" />

<div class="container">
	<%include file="/snippets/page-menu.html"/>

	<div id="team-list">
		<ul>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>
			<li class="team-member">
				<img src="http://placehold.it/150x150">
				<h3 class="team-member-name">Anna Waldman-Brown</h3>
				<p class="team-member-profile">Anna consults with the Fab Lab network and grassroots innovators across 50+ countries to foster creative problem-solving and sustainable development. She researches large-scale, local manufacturing at the Berkeley Roundtable on the International Economy and MIT.</p>
			</li>

		</ul>
	</div>
</div>

<%include file="/snippets/footer.html" />
