<div id="show-more-container" class="close">
<div class="wBlockFour">
<hr/>
	<div class="rowAlign">
  		<div class="rowTextBlock">
		<p>Host</p>  
  		</div>
  		<div class="rowTextBlock">
  		<p>Tags</p>
  		</div> 
  		<div class="rowTextBlock">
  		<p>Access</p>  
  		</div>
  		<div class="rowTextBlock">  
  		<p>Size</p>
  		</div>

	</div>
	<hr/>
</div>

<div class="wBlockLast">
	<div class="rowAlign">
  		<div class="rowTextBlock">
  			<p>Documentation Links</p>
  		</div>
  		<div class="rowTextBlock">
  			<p>Accessibility by Public Transport</p>
  		</div>
  		<div class="rowTextBlock">
			<p>Materials to Use </p>  
  		</div>
  		<div class="rowTextBlock">
  			<p>Residencies</p>
  		</div>
	</div>	
</div>
<button id="show-less-button" onclick="show_less_wiki()"></button>
</div>

<div id="show-more-container" class="hide"></div>
