<%include file="/snippets/head.html" />

<%include file="/snippets/header.html" />

<%include file="/snippets/hero.html" />

<div id="goals-page" class="container">
	<%include file="/snippets/page-menu.html"/>
	<div class="page-intro-section">
			<h2 class="intro-header dark-blue">Placeholder Introduction Title</h2>
			<p>We’re building a dynamic and collaborative platform to keep an up-to-date database of all likeminded community innovation spaces, and to encourage more networking and linkages amongst these spaces worldwide. We’ve standardized a set of datafields and built an API (application programming interface) in conjunction with Rob Baker’s Maker.json, so all data hosted on the Atlas can be easily shared across other sites. We’re in the process of turning this platform into an open-access wiki, to keep everything up-to-date through crowdsourced submissions and moderators. Please keep in mind that there are likely a number of errors in the information about spaces, as we have sourced this data from a number of different databases which may be user-generated and outdated. When you catch mistakes or omissions, kindly let us know!</p>
	</div>
	<section class="page-content">
		<div class="columns two">
			<div>
					<img src="http://placehold.it/450x300">
			</div>
			<div>
				<ul class="source-sans">
					<li>A community of people eager to collaborate with others— the space must be either open to the public or available for outside partnerships</li>
					<li>Support for old and/or new technological innovation, including hardware, software, metal-working, handicrafts, design thinking, repurposed trash, farming, etc.</li>
					<li>A physical or virtual space (or temporary event) that promotes creativity and nurtures new ideas</li>
				</ul>
				<div></div>
			</div>
		</div>
	</section>
</div>

<%include file="/snippets/footer.html" />