<%include file="/snippets/head.html" />

<%include file="/snippets/header.html" />

<%include file="/snippets/contribute.html" />

<div id="" class="container">
	<div class="page-intro-section">
			<h2 class="intro-header dark-blue">Join Us</h2>
	</div>
	<section class="page-content columns">
		<div>
			<p>Thanks for your interest in supporting this Atlas! Please click on the topic that interests you:</p>
			<ul>
				<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeO5RxISKgF6OQ73EDR8-yEPPM26RnxhQqX03jKJpyFnXr8eQ/viewform">Add a space</a></li>
				<li><a href="http://52.197.65.30:5000/wiki">Edit a space: Click here to sort the spaces by country.</a> Go to the wiki page of the specific space, then click on Edit on the top left.</li>
				<li><a href="mailto:anansegroup@gmail.com">Volunteer as a moderator:</a> Email us with details! We’re always looking for qualified moderators who can help verify information and correct details about the creative spaces in their region(s).</li>
				<li><a href="https://github.com/AnanseGroup/map-of-innovation">Help develop the platform: Check out our Github.</a></li>
			</ul>
		</div>
	</section>

</div>

<%include file="/snippets/footer.html" />
