<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="/css/MarkerCluster.Default.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script type='text/javascript' src="/js/leaflet.js"></script>
		<script type='text/javascript' src='/js/leaflet.markercluster.js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Ananse Innovation Map</title>
</head>
<body>

    <%include file="/snippets/header.html" />

    <%include file="/snippets/contribute.html" />

    <div id="map-page-title-container">
    	<h1 id="map-page-title">Innovation Spaces Near And Far</h1>
    </div>
    <div id="map-container">
	    <div id="map"></div>
    </div>
    <div id="filters">
    	<ul id="type-filter" class="filter-menu">
            % for a in ("All", "Hub", "Event", "Gallery", "Retail", "Virtual", "Ecovillage", "Cluster"):
                <li>
                    <a href="#" class="filter-item" data-filter-group="type" data-filter-item="${a.lower()}">
                        <div class="filter-type-color ${a.lower()}-color"></div>${a}
                    </a>
                </li>
            % endfor
<!--     		<li><a href="#" class="filter-item" data-filter-group="type" data-filter-item="factory">Factory</a></li>
				<li><a href="#" class="filter-item" data-filter-group="type" data-filter-item="library">Library</a></li>
    		<li><a href="#" class="filter-item" data-filter-group="type" data-filter-item="lab">Lab</a></li>  -->
    	</ul>
    	<ul id="theme-filter" class="filter-menu">
    	
    	</ul>
    	<ul id="originator-filter" class="filter-menu">
    	
    	</ul>
    </div>
    <div id="filter-bar">
            % for a in ("Type", "Theme", "Originator"):
                <a href="/" id="filter-bar-type-button" class="filter-bar-button" data-filter="${a.lower()}">
                    <span class="filter-button-text">${a}</span>
                    <img src="/assets/plus.png" class="filter-button-plus">
                    <img src="/assets/minus.png" class="filter-button-minus">
                </a>
            % endfor
            <div id="sponsor-container">
<!--                <span id="navigation-bar-supported-text">Supported by</span> -->
                <a href="https://www.giz.de/" target="_blank">
                    <img src="/assets/giz-logo.png" id="sponsor-giz">
                </a>
                <a href="https://www.fabfoundation.org/" target="_blank">
                    <img src="/assets/fab-foundation-logo.png" id="sponsor-fab-foundation">
                </a>
            </div>
		</div>
    <p id="markerjson" hidden>${c.markers}</p>
    <script type='text/javascript' src="/js/main.js"></script>
</body>
</html>
