<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="/css/MarkerCluster.Default.css" />
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <script type='text/javascript' src="/js/leaflet.js"></script>
	<script type='text/javascript' src='/js/leaflet.markercluster.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src="/js/page.js"></script>
    <title>Ananse Innovation Map</title>
</head>
<body>
    <div id="map-page-title-container">
    	<h1 id="map-page-title">Global Innovation Gathering</h1>
    </div>
    <div id="map-container">
	    <div id="map-gig"></div>
        <div id="loading">
            <div class="loader"></div>
            <h3 class="loader-text">Finding Spaces...</h3>
        </div>
    </div>
    <script type='text/javascript' src="/js/map-gig.js"></script>
</body>
</html>

