<!DOCTYPE html>
<%include file="/snippets/head.html" />

<%include file="/snippets/header.html" />
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"/>
<div>
<p>Thank you for your valuable edit. Your changes have been included in the space data. </p> 
  <button  id="space-wiki" onclick="location.href='/uifunc/wikipage/${s_id}';" >Go back to Space Wiki</button>
 <button  id="ananse-home" onclick="location.href='/map';">Go to Main Page</button>
</div>
<%include file="/snippets/footer.html" />
