<!DOCTYPE html>
<%include file="/snippets/head.html" />
<%include file="/snippets/header.html" />
<!--%include file="/snippets/wiki-filter-bar.html" /-->

<%include file="/snippets/contribute.html" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="container wiki-content source-sans">
	<div class="columns two columns-wide">
		<div>
			<div id="wiki-list-content">
			<ul class="wiki-list">
			
				</ul>
			</div>
		</div>
		</div>
		</div>
<input type="hidden" name="type" value=${c.filtertype} id="filter_type" />
<input type="hidden" name="name" value=${c.filterparam|u} id="filter_name" > 		
<script type='text/javascript' src="/js/wikilist.js"></script>
<%include file="/snippets/footer.html" />
