<div id="contribute-bar-container" class="hero-container closed source-sans">
	<a href="#" id="contribute-bar-button">CONTRIBUTE</a>
<!--   <div class="search-bar-container">
    <input type="text" name="searchbar" class="search-bar">
    <img src="../assets/search.png" id="magnifying-glass">
	</div> -->
	<div id="contribute-content" class="hero-content">
		<h2 class="header">WELCOME!</h2>
		<p>Do you ever find yourself in some city wondering, <em>where are all the crazy creative people?</em> With your help, we’re building an open-source Atlas of all the community innovation spaces!</p>		
 	
		<a href="/join" class="button pink">JOIN US</a>
	</div>
</div>
