<div id="navigation-bar-container">
  <div class="navigation-bar">
    <a class="navigation-bar-logo" href="/">
      <img src="/assets/logo_ananse.png" id="navigation-bar-home">
    </a>
    <a href="/map" id="navigation-bar-map-button" class="navigation-bar-button selected-navigation-bar-button">MAP</a>
    <a href="/about" id="navigation-bar-about-button" class="navigation-bar-button">ABOUT</a>
    <a href="/docs" id="navigation-bar-document-licensing-button" class="navigation-bar-button">DOCUMENTATION & LICENSING</a>
    <a href="/wiki" id="navigation-bar-wiki-button" class="navigation-bar-button">WIKI</a>
    <a href="/contact" id="navigation-bar-contact-button" class="navigation-right dark-blue">Contact Us</a>
	</div>
</div>
