<div id="navigation-bar-container">
  <a class="navigation-bar-logo" href="/">
    <img src="/assets/logo_ananse.png" id="navigation-bar-home">
  </a>
  <div class="navigation-bar">
    <a href="/map" id="navigation-bar-map-button" class="navigation-bar-button selected-navigation-bar-button">MAP</a>
    <a href="/about" id="navigation-bar-about-button" class="navigation-bar-button">ABOUT</a>
    <a href="/docs" id="navigation-bar-document-licensing-button" class="navigation-bar-button">DOCUMENTATION & LICENSING</a>
    <a href="/" id="navigation-bar-wiki-button" class="navigation-bar-button">WIKI</a>
	</div>
	<div class="navigation-bar-contact-container">
		<a href="/">
    	<img src="/assets/contact_us.png" id="navigation-bar-contact-button">
    </a>
	</div>
</div>
