<div id="page-hero" class="hero-container open source-sans">
	<div class="hero-content">
		<h2 class="header">We are a group of Makers and Hackers from around the globe.</h2>
		<h3 class="header">We’re building a collaborative Atlas of all the community innovation spaces– hackerspaces, makerspaces, Impact Hubs, incubators, Fab Labs, Ecovillages, etc.</h3> 
		<h3 class="header">Though instead of making our own map, we’re aggregating existing maps and databases into one giant open-source wiki, and then developing an interface to share this data across other websites. Please join us!</h3>

	</div>
</div>
